:root {
    font-family: sans-serif;
    --bg-color: #fafafa;
    --sec-color: #fafafa;
    --border-radius: 8px;
    --border-color: gray;
    --border-size: 2px;
    --danger-color: #ff0000;
    --success-color: #00ff00;
    --primary-color: #0080ff;
    --border-radius-btn: 8px;
}

/* ------------------------------------------------------------------------ */
/* Micro reset */
/* ------------------------------------------------------------------------ */

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: aliceblue;
}

/* ------------------------------------------------------------------------ */
/* General styles */
/* ------------------------------------------------------------------------ */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 90px;

    background-color: aquamarine;
}

header h1 {
    margin-left: 1em;
}

.content {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 100vh;

}

.status-sidebar {
    background-color: red;
}

.main {
    padding: 2em;
}

.results-btn {
    flex-direction: row !important;
    justify-content: space-between !important;
}

.status-wrapper {
    display: flex;
    justify-content: space-between;
}

.status {
    display: flex;
    flex-direction: column;

    width: 48%;
    height: auto;
    background-color: white;
    margin-top: 10px;

    border-radius: var(--border-radius);
    padding: 1.5em;

    box-shadow: 0 1px 4px 0px rgb(204 197 185 / 50%);
}

.status-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.status-text-wrapper h3 {
    margin-top: 0;
    margin-left: 0;
}

.status-text-wrapper h3:first-child {
    margin-left: 10px;
}

.status-text-wrapper span {
    margin-left: 10px;
}

.controllers {
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 20px;

    border-radius: var(--border-radius);
    padding: 1.5em;

    box-shadow: 0 1px 4px 0px rgb(204 197 185 / 50%);
}

.controllers h3 {
    margin-top: 0;
}

form {
    display: flex;
    height: 265px;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    width: 100%;
    height: 30px;
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--border-color);
    padding: 0 10px;
}

input[type="number"] {
    width: 8em;
}

input[type="submit"] {
    width: 20%;
    cursor: pointer;
}

input[type="button"] {
    width: 20%;
    cursor: pointer;
}

select {
    width: 8em;
    padding: 0.4em;
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--border-color);
}


/* Button styles */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11em;
    height: 50px;
    border-radius: var(--border-radius-btn);

    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;

    font-weight: bold;
}

.btn-danger {
    background-color: var(--danger-color);
    color: white
}

.btn-danger:hover {
    background-color: #d14545;
    color: white;
    cursor: pointer;
}

.btn-success {
    background-color: var(--success-color);
    color: black;
}

.btn-success:hover {
    background-color: #61d145;
    color: black;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    background-color: #4a88c5;
    color: white;
    cursor: pointer;
}

/* Table style */
th, td {
    padding: 15px;
    text-align: left;
}

.result-table {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
}
.measurement {
    padding: 1em;

}